<div class="bg-cover bg-top bg-no-repeat pb-16 md:py-16 lg:py-24" style="background-image: url('assets/img/experience-figure.png')" id="statistics">
  <div class="container">
    <div class="mx-auto w-5/6 bg-white py-16 shadow md:w-11/12 lg:py-20 xl:py-24 2xl:w-full">
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:gap-8 max-w-4xl mx-auto">
        <!-- Proyectos Completados -->
        <div class="flex flex-col items-center justify-center text-center transition-transform hover:-translate-y-1">
          <div><i class="bx bx-folder-open text-6xl md:text-7xl text-primary"></i></div>
          <div class="pt-4">
            <h1 class="font-body text-4xl font-bold text-primary md:text-5xl mb-2">2</h1>
            <h4 class="font-body text-xs font-semibold uppercase tracking-wide text-secondary md:text-sm">Proyectos Completados</h4>
          </div>
        </div>
        <!-- Tecnologías Dominadas -->
        <div class="flex flex-col items-center justify-center text-center transition-transform hover:-translate-y-1">
          <div><i class="bx bx-chip text-6xl md:text-7xl text-primary"></i></div>
          <div class="pt-4">
            <h1 class="font-body text-4xl font-bold text-primary md:text-5xl mb-2">10+</h1>
            <h4 class="font-body text-xs font-semibold uppercase tracking-wide text-secondary md:text-sm">Tecnologías Dominadas</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>