<div class="w-full h-full min-h-[calc(100vh-120px)] flex flex-col justify-center items-center py-8 bg-cover bg-top bg-no-repeat" style="background-image: url('assets/img/experience-figure.png')" id="statistics">
  <div class="container my-auto">
    <div class="mx-auto w-11/12 sm:w-4/5 bg-white py-12 px-6 shadow-xl rounded-2xl border border-grey-60 max-w-3xl">
      <div class="grid grid-cols-1 gap-8 sm:grid-cols-2">
        <!-- Proyectos Completados -->
        <div class="flex flex-col items-center justify-center text-center transition-transform hover:-translate-y-1">
          <div><i class="bx bx-folder-open text-5xl sm:text-6xl text-primary"></i></div>
          <div class="pt-3">
            <h1 class="font-body text-4xl font-bold text-primary md:text-5xl mb-1">2</h1>
            <h4 class="font-body text-xs font-semibold uppercase tracking-wide text-secondary sm:text-sm">{{ts.t().STATS_PROYECT_TITLE}}</h4>
          </div>
        </div>
        <!-- Tecnologías Dominadas -->
        <div class="flex flex-col items-center justify-center text-center transition-transform hover:-translate-y-1">
          <div><i class="bx bx-chip text-5xl sm:text-6xl text-primary"></i></div>
          <div class="pt-3">
            <h1 class="font-body text-4xl font-bold text-primary md:text-5xl mb-1">10+</h1>
            <h4 class="font-body text-xs font-semibold uppercase tracking-wide text-secondary sm:text-sm">{{ts.t().STATS_TECH_TITLE}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>